<html>

<head></head>

<body>
    <h1>
        <%=title%>
    </h1>
    <h3>Welcome</h3>
    <p>Test View Engine</p>
    <ul>
        <% for(var i = 0; i < users.length; i++){ %>
            <li>
                <%= users[i] %>
            </li>
            <% } %>
    </ul>
</body>

</html>